## List

In [1]:
suhu1 = 21
suhu2 = 20
suhu3 = 22

suhu_keluarga = [suhu1, suhu2, suhu3]

In [13]:
# membuat list
suhu_keluarga_ucup = [
                'ayah ucup', 19, 'ucup', 19, 'ibu ucup', 20
                ]
suhu_keluarga_boy = [
                'istri boy', 20, 'anak boy', 18, 'istri kedua boy', 21
                ]

# membuat list dalam list dan di campur dengan data boolean
suhu_keluarga = [
                suhu_keluarga_ucup, suhu_keluarga_boy, True
                ]

In [3]:
# Membuat data list
tinggi_badan = [
                162, # index 0 
                177, # index 1
                182, # index 2
                150, # index 3
                166 # index 4
                ]

print(tinggi_badan[0]) # posisi pertama
print(tinggi_badan[-2]) # posis kedua dari belakang

162
150

In [4]:
# Slicinglist
# Mengambil data dengan index 0, 1, 2, 3
print(tinggi_badan[:4]) 
# Mengambil data dengan index 2, 3, 4
print(tinggi_badan[2:5])

[162, 177, 182, 150]
[182, 150, 166]

In [5]:
suhu_keluarga_ucup[3] = 22
print(suhu_keluarga_ucup)

['ayah ucup', 19, 'ucup', 22, 'ibu ucup', 20]

In [6]:
suhu_keluarga_ucup[-2:] = ['mamah ucup', 22]
print(suhu_keluarga_ucup)

['ayah ucup', 19, 'ucup', 22, 'mamah ucup', 22]

In [7]:
suhu_keluarga_ucup = suhu_keluarga_ucup + ['adik ucup', 20]

print(suhu_keluarga_ucup)

['ayah ucup', 19, 'ucup', 22, 'mamah ucup', 22, 'adik ucup', 20]

In [9]:
murid = ['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani']
murid.append('Rizky')
murid.insert(2, 'Ahmad')

print(murid)

['Ayu', 'Bagus', 'Ahmad', 'Fajar', 'Cahyo', 'Ani', 'Rizky']

In [14]:
del(suhu_keluarga_ucup[1:])

print(suhu_keluarga_ucup)

['ayah ucup']

In [22]:
murid = ['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani']
murid.pop(2)

murid

['Ayu', 'Bagus', 'Cahyo', 'Ani']

In [24]:
murid.pop()

murid

['Ayu', 'Bagus', 'Fajar']

In [26]:
murid = ['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani']
murid.remove('Cahyo')

murid

['Ayu', 'Bagus', 'Fajar', 'Ani']

In [27]:
keluarga_ucup = ['mamah', 'papah', 'ucup', 'adek ucup', 'kaka ucup']

print(len(keluarga_ucup))

5

In [28]:
print(sorted(keluarga_ucup))

['adek ucup', 'kaka ucup', 'mamah', 'papah', 'ucup']

In [29]:
primes = [2, 3, 5, 7]

print(sum(primes))

17

In [31]:
a = [1,2,3,4,5]
b = a.copy()

print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [33]:
b.append(6)

print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 6]

In [36]:
number = [1,5,10,6,7,8,12]
result = [i for i in number if i>7]

result

[10, 8, 12]

## Dictionary

In [38]:
numbers = {'one':1, 'two':2, 'three':3}

print(numbers['one'])

numbers['one'] = 'satu'
print(numbers)

1
{'one': 'satu', 'two': 2, 'three': 3}

In [39]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = satu
two = 2
three = 3

In [40]:
for k in numbers.values():
    print("{}".format(k))

satu
2
3

In [41]:
for k, v in numbers.items():
    print("{} = {}".format(k, v))

one = satu
two = 2
three = 3

In [42]:
'one' in numbers

True

In [44]:
numbers = {'one':1, 'two':2, 'three':3}
numbers['four'] = 10

numbers

{'one': 1, 'two': 2, 'three': 3, 'four': 10}

In [46]:
numbers1 = {'two':5}
numbers.update(numbers1)

numbers

{'one': 1, 'two': 5, 'three': 3, 'four': 10}

In [47]:
numbers = {'four': 10, 'one': 1, 'three': 3, 'two': 5}
numbers.pop('one')
print(numbers)

{'four': 10, 'three': 3, 'two': 5}

In [48]:
numbers.clear()
print(numbers)

{}

In [49]:
numbers = {'four': 10, 'three': 3, 'two': 5}
del numbers['four']
print(numbers)

{'three': 3, 'two': 5}

In [50]:
del numbers
print(numbers)

NameError: name 'numbers' is not defined